*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: rgba(0,56,255,0.5);
}

header{
    margin: auto 5%;
    margin-top: 20px;
    margin-bottom: 30px;
    height: 100px;
    /* border: 1px solid black; */
    text-align: center;
}

header h3{
    line-height: 100px;
    font-size: 50px;
    color: rgba(10,10,10,0.8);
}

header h3 a{
    text-decoration: none;
    color: rgba(10,10,10,0.8);
}

#pages{
    margin: 0 8% 20px;
}

#articles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: auto 7%;
}

#articles article{
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;

    background-color: white;
    /* border: 1px solid black; */
}

#articles article li{ 
    margin: 5px 0 5px 0;
    list-style: none; 
}

#articles article img{
    width: 290px;
    height: 320px;
}